.venv
__pycache__/

*.aux
*.gz
*.log
*.out
*.fls
*.fdb_latexmk
*.bcf*
*.run.xml
*.bbl*
*.bcf*
*.blg
*.toc
*.synctex*
*.vrb
*.nav
*.snm
docs/regression/regression_logistique_slides_body.tex

weights.csv

.claude/settings.local.json
